:root{
    --blue-primary: #6499E9;
    --blue-secondary: #9EDDFF;
    --white-90:#FBF9F1;
    --gray-90:#E5E1DA;
}

/*RESET DE ESTILO*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white-90);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* ESTILIZANDO A NAVBAR */

nav{
    background-color: var(--blue-primary);
    height: 65px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 300;
}

/* MOBILE FIRST - MENU */


.nav-title { 
    background-color: transparent;
    color: var(--white-90);
}

/* ESTILIZANDO O MENU HAMBURGER */

.menu, .menu *{
    background-color: transparent;
    z-index:9999;
}

.menu {
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    top:65px;
    left: 0;
    background: var(--blue-primary);
    color: var(--white-90);
    list-style: none;
    opacity: 0;
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column; 
    gap: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem; 

   }

   /* ESTILIZANDO O CONTEÚDO DENTRO DO MENU */

.menuItem{
    text-decoration: none;
    color: inherit;  
}

/* ESTILIZANDO O BOTÃO DO MENU HAMBURGER */


.hamburger {
    position: fixed;
    top: 1rem;
    left: 1rem;
    padding: 4px;
    border: none;
    background-color: transparent;
    cursor: pointer;
   }

.hamburger i{
    background-color: transparent;
    color: var(--white-90); 
 
}
/* ESTILIZAÇÃO AO CLICAR NO BOTÃO DO MENU HAMBURGER */

.showMenu {
transform: translatex(0);
opacity: 1;
}

/* FIM DA ESTILIZAÇÃO MOBILE DO MENU */


/* INICO DA ESTILIZAÇÃO DO BANNER */

.banner{
    position: relative;
    overflow: hidden;
    margin-top: 65px;
}

.banner-img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

/* FIM DA ESTILIZAÇÃO DO BANNER */

/* INICIO MAIN */

/* INICIO TITULO E SUBTITULO MAIN */

main{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.title-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.title-main h1{
    font-size: 1.2rem;
}

.title-main h2{
    font-size: 0.9rem;
    font-weight: 100;
}

/* FIM TITULO E SUBTITULO MAIN */


/* INICIO CONTEUDO */



.topic-main{
    padding: 20px 20px 10px 20px;   
}

.topic-main h2{
    font-size: 1rem;
}
.conteudo-main{
    padding: 20px;
}

.conteudo-main article {
    text-align: justify;
}

.conteudo-doacoes{
    display: flex;
    flex-direction: column-reverse;
}


.doacoes-img{
    position: relative;
    overflow: hidden;
    order: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}

.doacoes-img img{
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border-radius: 50%;
}

/* INICIO AUMIGOS */

#aumigos{
    background-color: var(--blue-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.card-aumigos{
    background-color: var(--white-90);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-aumigos img {
    align-items: center;
    width: 100%;
    height: auto;
}

.carrossel-aumigos {
    position: relative;
    overflow: hidden;
    display: flex;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--white-90);
    background-color: var(--blue-secondary);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: var(--gray-90);
}


/* FIM AUMIGOS */


/* FIM MAIN */

/* INICIO FOOTER */

footer {
    margin-top: auto;
    background-color: var(--blue-primary);
    height: auto;
    color: var(--white-90);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer span{
    font-weight: bold;
}

.redes-sociais i{
    color: var(--white-90);
}

.redes-sociais i:not(:first-child)::before{
    margin-left: 10px;
}

.contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

address{
    text-align: center;
}

footer{
    font-size: x-small;
}

/* FIM FOOTER */

@media screen and (min-width: 768px) {


    html {
        background-color: var(--gray-90);
    }
    
    body {
        margin: 0 auto;
        max-width: 980px;
    }

    /* INICIO HEADER */

        /* ESTILIZAÇÃO DO MENU PARA TELAS MAIORES */

        /* OCULTAR O BOTÃO DO MENU HAMBUGER */

    .hamburger {
        display: none;
    }

    nav {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-title {
        position: absolute; 
        left: 0; 
        padding-left: 20px;
        background-color: transparent;
        color: var(--white-90);
        margin-left: 10px;
    }
    


    .menu {
        position: static;
        transform: none;
        transition: none;
        background: transparent;
        list-style: none;
        padding-top: 0;
        opacity: 1;
        width: auto;
        display: flex;
        flex-direction: row; 
        height: auto;
        padding: 0;
        
       }

       
       .menu li {
        position: relative;
        padding: 10px 20px;
       } 

       .menu li:not(:first-child)::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 50%;
        background-color: var(--white-90);
    }

    /* FIM DA ESTILIZAÇÃO DO MENU PARA TELAS MAIORES */

    /* FIM HEADER */

    /* INICIO BANNER */
    .banner{
        margin-top: 0;
    }
    /* FIM BANNER */
    
       

        /* INICIO MAIN */

    /* INICIO TITULO E SUBTITULO MAIN */


    .title-main h1{
        font-size: 1.8rem;
    }

    .title-main h2{
        font-size: 1.2rem;
        font-weight: 100;
    }

    /* FIM TITULO E SUBTITULO MAIN */

    /* INICIO DOACOES */

    .conteudo-doacoes{
        flex-direction: row;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .doacoes-img{
        margin-bottom: 0;
    }

    .doacoes-img img{
        max-width: 90%;
        max-height: 90%;
        width: auto;
        height: auto;
        box-sizing: border-box;
        border-radius: 50%;
    }
    
    /* FIM DOACOES */

    /* FIM MAIN */

    /* INICIO FOOTER */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
    
}

footer span{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.redes-sociais i{
    color: var(--white-90);
}

.contatos{
    justify-content: flex-end;
    align-items: flex-end;
}
address{
    text-align: right;
}

/* FIM FOOTER */

    
}
